@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
body, html{
	width: 100%;
	height: 100%;
	color: #eee;
}
body{
	background: rgb(201, 201, 201);
}
canvas{
	background: #eee;
	box-shadow: 0 0 5px rgba(0, 0, 0,.5);
}
#CampoDibujo{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#campoDraw{
	width: 100%;
	max-width: 1400px;
	min-width: 900px;
	min-height: 520px;
	height: 90%;
	padding: 10px;
	margin: auto;
	position: relative;
	box-sizing: border-box;
	padding-top: 0;
	border-radius: 5px;
}
#barraHerramientas{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 8%;
	padding: 0 10px;
	min-height: 50px;
}
#barraHerramientas li{
	list-style: none;
	display: inline-block;
	height: 15px;
	width: 15px;
	padding: 5px;
	margin: 8px 0;
	border: 3px solid transparent;
	margin-left: -2px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#barraHerramientas li:hover{
	transform: scale(1.2);
}
#barraHerramientas li#ver{
	background: url('../imagenes/logos/ver.png') 100% 100% / 100% 100% no-repeat;
}
#barraHerramientas li#Guardar{
	background: url('../imagenes/logos/guardar.png') 100% 100% / 100% 100% no-repeat;
	display: none;
}
#barraHerramientas li#Nuevo{
	background: url('../imagenes/logos/nuevo.png') 100% 100% / 100% 100% no-repeat;
}
#barraHerramientas li#Reacer{
	background: url('../imagenes/logos/boton_atras.png') 100% 100% / 100% 100% no-repeat;
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
}
#barraHerramientas li#Adelante{
	background: url('../imagenes/logos/boton_adelante.png') 100% 100% / 100% 100% no-repeat;
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
}
#barraHerramientas li#verHecho{
	background: url('../imagenes/logos/photo.png') 100% 100% / 100% 100% no-repeat;
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
	display: none;
}
#materiales, #canvasImprim{
	float: left;
}
#canvasImprim{
	width: 70%;
	padding: 0 1%;
	box-sizing: border-box;
	position: relative;
}
#materiales{
	position: relative;
	width: 30%;
	width: 90px;
	box-sizing: border-box;
	padding: 5px;
	background: rgb(191, 191, 191);
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	border-radius: 5px;
}
#materiales>div{
	text-align: center;
	margin-bottom: 2px;
}
#materiales>ul>li{
	list-style: none;
	display: inline-block;
	width: 23px;
	height: 23px;
	margin: 2px 0;
	color: red;
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#materiales>ul>li:hover{
	transform: scale(1.3);
}
#materiales>ul>li#Cursor{
	background: url('../imagenes/logos/cursor.png') 100% 100% / 100% 100% no-repeat;
	border-radius: 50%;
}
#materiales>ul>li#Lapiz{
	background: url('../imagenes/logos/lapiz.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>ul>li#Texto{
	border-radius: 50%;
	background: #eee
}
#materiales>ul>li#Texto:after{
	content: 'A';
	position: absolute;
	left: 0;
	width: 100%;
	color: #000;
	font-weight: bold;
	font-family: arial;
	top: 2px;
}
#materiales>ul>li#Circulo{
	border-radius: 50%;
}
#materiales>ul>li#Circulo:after{
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	border-radius: 50%;
	border: 3px solid #eee;
	box-sizing: border-box;
}
#materiales>ul>li#Cuadrado{
	border-radius: 5px;
}
#materiales>ul>li#Cuadrado:after{
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	border-radius: 5px;
	border: 3px solid #eee;
	box-sizing: border-box;
}
#materiales>ul>li#eracer{
	background: url('../imagenes/logos/eraser.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>ul>li#Bezier{
	background: url('../imagenes/logos/curva.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>ul>li#Imagen{
	background: url('../imagenes/logos/image.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>#herramientasDis{
	margin: 10px 0;
	box-sizing: border-box;
	background: rgb(191, 191, 191);
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	width: 100%;
	position: absolute;
	overflow: hidden;
	border-radius: 5px;
	left: 0;
	cursor: pointer;
	padding: 10px 0;
}
#materiales>#herramientasDis>#color{
	width: 80%;
	height: 30px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
}
#materiales>#herramientasDis>#color>#col{
	border: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#materiales>#herramientasDis>#tamanio{
	width: 80%;
	position: relative;
	margin: auto;
	padding: 15px 0;
	padding-bottom: 0;
}
#materiales>#herramientasDis>#tamanio>#tamVal{
	width: 100%;
	cursor: pointer;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
}
#barraPrincipal>ul>li{
	display: inline-block;
	background: #eee;
	width: 40px;
	height: 40px;
	color: #000;
	float: right;
	margin: 5px 2px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	box-shadow: 0 0 5px rgba(0,255,255,1);
	z-index: 8;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#barraPrincipal>ul>li#verHechoI{
	float: left;
	margin-left: 10px;
	background: url('../imagenes/logos/escola59.png') 100% 100% / 100% 100% no-repeat #eee;
}
#barraPrincipal>ul>li:hover{
	transform: scale(1.2);
	box-shadow: 0 0 5px 3px rgba(0,255,255,1);
	z-index: 9;
}
#barraPrincipal>ul>li#logeo{
	background: url('../imagenes/logos/login.png') 100% 100% / 100% 100% no-repeat;
	margin-right: 10px;
}
#barraPrincipal>ul>li#img{
	background: url('../imagenes/logos/user1.png') 100% 100% / 100% 100% no-repeat rgb(238, 238, 238);
}
#barraPrincipal>ul>li#nuevoU{
	background: url('../imagenes/logos/user1.png') 100% 100% / 100% 100% no-repeat rgb(238, 238, 238);
}
#barraPrincipal>ul>li#adminA{
	background: url('../imagenes/logos/admin.png') 100% 100% / 100% 100% no-repeat rgb(238, 238, 238);
}
#barraPrincipal>ul>li#nuevoU:after{
	content: '+';
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	font-family: arial;
	left: 20px;
	bottom: -10px;
	color: #eee;
	text-shadow: 0 0 5px #000;
}
#barraPrincipal>ul>li#cerrarSecion{
	background: url('../imagenes/logos/logout.png') 100% 10% / 100% 100% no-repeat rgb(238, 238, 238);
	margin-right: 10px;
}
#barraPrincipal>ul>li#user{
	width: auto;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 2px;
	font-family: arial;
	font-weight: bold;
	line-height: 2.4;
	background: transparent;
	color: #eee;
	text-shadow: 0 0 5px rgba(0,255,255,1);
	pointer-events: none;
	box-shadow: 0 0 5px transparent;
}
#eracerFun{
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 10px;
	left: 20px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.4);
	pointer-events: none;
}
#flotante{
	background: rgba(201, 201, 201,.5);
	width: 100%;
	height: 100%;
	position: fixed;
	margin: auto;
	z-index: 999999;
	top: 0;
	left: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#formularioLog{
	width: 500px;
	height: 300px;
	top: 20%;
	left: 30%;
}
#formularioReg{
	width: 500px;
	height: 400px;
	top: 20%;
	left: 30%;
}
#formularioRecover{
	width: 500px;
	height: 220px;
	top: 20%;
	left: 30%;
}
#formularioEdit{
	width: 500px;
	height: 650px;
	top: 5%;
	left: 30%;
}
.formularios{
	background: rgb(201, 201, 201);
	position: absolute;
	margin: auto;
	z-index: 999999;
	box-sizing: border-box;
	padding: 45px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
}
#formularioEdit>ul>li>img{
	width: 300px;
	height: 180px;
	margin: 5px 0;
	margin-bottom: 0;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
}
#formularioRecover>ul>li,
#formularioEdit>ul>li,
#formularioReg>ul>li,
#formularioLog>ul>li{
	list-style: none;
	padding: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: arial;
	text-align: center;
}
#formularioRecover>ul>li>input,
#formularioEdit>ul>li>input,
#formularioReg>ul>li>input,
#formularioLog>ul>li>input{
	padding: 5px 8px;
	border: 0;
	outline: none;
	border-radius: 5px;
	width: 300px;
	text-align: center;
	font-size: 1.2em;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	color: rgba(52, 60, 69,.5);
}
#formularioLog>ul>li>a{
	color: rgba(52, 60, 69,.5);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#formularioLog>ul>li>a:hover{
	color: rgba(52, 60, 69,.7);
}
#formularioRecover>ul>li>button,
#formularioEdit>ul>li>button,
#formularioReg>ul>li>button,
#formularioLog>ul>li>button{
	border: 0;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 1.3em;
	color: rgba(52, 60, 69,.5);
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	cursor: pointer;
}
#closeForm{
	position: absolute;
	cursor: pointer;
	background: rgb(201, 201, 190);
	width: 25px;
	height: 25px;
	right: -10px;
	top: -10px;
	border: 2px solid rgb(192, 192, 192);
	box-sizing: border-box;
	border-radius: 50%;
	z-index: 9;
}
#flotante>#opcionesLapiz{
	background: rgb(201, 201, 201);
	width: 300px;
	height: 200px;
	position: absolute;
	margin: auto;
	z-index: 999999;
	top: 30%;
	left: 40%;
	box-sizing: border-box;
	padding: 45px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
}
#opcionesLapiz>li{
	list-style: none;
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #eee;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#opcionesLapiz>li:hover{
	transform: scale(1.1);
	box-shadow: 0 0 5px rgba(0,255,255,.5);
}
#opcionesLapiz>li#circuloSe:after{
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	border-radius: 50%;
	box-sizing: border-box;
	border: 15px solid rgb(201, 201, 201);
	left: 5%;
	top: 5%;
}
#opcionesLapiz>li#lineSe:after{
	content: '';
	position: absolute;
	width: 90%;
	height: 0;
	box-sizing: border-box;
	border: 5px solid rgb(201, 201, 201);
	left: 5%;
	top: 45%;
	transform: rotateZ(-45deg);
}
#ventanaImG{
	position: relative;
	max-width: 1400px;
	min-width: 1024px;
	min-height: 700px;
	width: 80%;
	height: 100%;
	margin: auto;
}
#ventanaImG>#imagenShow{
	left: 0;
	margin: 15px;
	width: 100%;
	height: 90%;
	position: absolute;
	cursor: pointer;
	border: 10px solid rgba(255,255,255,.8);
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,1)
}
#pinturaUti{
	width: 100%;
	max-height: 30px;
	margin: auto;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	padding: 5px;
	box-sizing: border-box;
}
#pinturaUti>ul>li{
	list-style: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#pinturaUti>ul>li:hover{
	transform: scale(1.1);
}
#loadF{
	width: 100%;
	height: 100%;
	background: rgba(219, 219, 219,.5);
	position: absolute;
	left: 0;
	top: 0;
}
#loadF>#respuestaL{
	color: rgb(219, 219, 219);
	text-align: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	margin: auto;
	box-sizing: border-box;
	padding: 20px 0;
	font-size: 2em;
	line-height: 7;
	font-family: calibri;
	text-shadow: 0 0 3px rgb(20, 23, 26);
	background: rgba(219, 219, 219,.7);
}
#loadF>#circleLoad{
	position: absolute;
	border: 7px solid  rgb(52, 60, 69);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-sizing: border-box;
	left: 45%;
	top: 35%;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	-webkit-animation: loadForm 1s linear infinite;
	-moz-animation: loadForm 1s linear infinite;
	-ms-animation: loadForm 1s linear infinite;
	animation: loadForm 1s linear infinite;*/
}
#loadF>#circleLoad:after{
	content: '';
	position: absolute;
	padding: 9px;
	background: rgb(52, 60, 69);
	border-radius: 50%;
	left: 68%;
	top: -10%;
}
#loadF>#circleLoad:before{
	content: '';
	position: absolute;
	padding: 9px;
	background: rgb(52, 60, 69);
	border-radius: 50%;
	left: 0%;
	bottom: -25%;
}
#showMMSResult{
	margin: auto;
	text-align: center;
	width: 350px;
	background: rgb(182, 185, 189);
	color: rgb(119, 119, 119);
	padding: 5px;
	font-size: 1.5em;
	box-sizing: border-box;
	margin-top: 15%;
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(20, 23, 26);
}
#resultRegister{
	background: rgba(201, 201, 201,.8);
	color: rgb(100, 100, 100);
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 1.5em;
	line-height: 1;
	padding: 20px;
	padding-top: 50px;
	text-align: justify;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#resultRegister>div{
	text-align: center;
	width: 100%;
	padding-top: 20px;
}
#resultRegister>div>img{
	cursor: pointer;
}
#formularioAdmin{
	position: relative;
	margin: auto;
	width: 700px;
	height: 95%;
	margin-top: 1%;
	min-height: 500px;
	padding: 15px;
}
#formularioAdmin>ul{
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#formularioAdmin>ul>li{
	list-style: none;
	position:relative;
	padding: 10px;
	color: rgb(255,255,255);
	padding-left: 60px;
	border-bottom: 2px dashed rgb(201, 255, 255);
}
#formularioAdmin>ul>li>img{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: -5px;
	border-radius: 50%;
}
#formularioAdmin .verTrabajosA,
#formularioAdmin .desahabilitarU{
	width: 35px;
	height: 35px;
	position: absolute;
	border-radius: 50%;
	bottom: 2px;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(20, 23, 26,.8);
}
#formularioAdmin .verTrabajosA{
	right: 5px;
	border-radius: 5px;
	background: url('../imagenes/logos/photo.png') 100% 100% / 100% 100% no-repeat;
}
#formularioAdmin .desahabilitarU{
	right: 45px;
	background: url('../imagenes/logos/ico-disable.png') 100% 100% / 100% 100% no-repeat;
}
#wecomeH{
	position: fixed;
	width: 100%;
	background: rgb(201, 201, 201);
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
#wecomeH:before{
	content: 'ESTA ES TU SECCION DE ARCHIVOS';
	color: transparent;
	text-align: center;
	position: absolute;
	width: 100%;
	min-width: 300px;
	line-height: 20;
	font-weight: bold;
	font-size: 2em;
	text-shadow: 0 0 3px rgb(20, 23, 26);
}
.hiddenLo{
	opacity: 0;
	pointer-events: none;
}
@-moz-keyframes loadForm{
	0%{transform: rotateZ(0deg)}
	100%{transform: rotateZ(-360deg)}
}
@keyframes loadForm{
	0%{transform: rotateZ(0deg)}
	0%{transform: rotateZ(-360deg)}
}
.show{
	opacity: 1;
	pointer-events: all;
}
.hidden{
	opacity: 0;
	pointer-events: none;
}
.clear{
	clear: both;
}