@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
body, html{
	width: 100%;
	height: 100%;
	color: #eee;
}
body{
	background: rgb(20, 23, 26);
}
canvas{
	background: #eee;
}
#CampoDibujo{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#campoDraw{
	width: 100%;
	max-width: 1020px;
	min-width: 900px;
	min-height: 520px;
	height: 90%;
	padding: 10px;
	margin: auto;
	position: relative;
	box-sizing: border-box;
	border: 2px dashed;
	height: 80%;
	padding-top: 0;
}
#barraHerramientas{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 8%;
	padding: 0 10px;
	min-height: 50px;
}
#barraHerramientas li{
	list-style: none;
	display: inline-block;
	height: 100%;
	padding: 5px;
	margin: 8px 0;
	border: 3px solid transparent;
	border-right: 2px solid #eee;
	margin-left: -2px;
	border-radius: 5px;
	cursor: pointer;
}
#materiales, #canvasImprim{
	float: left;
}
#canvasImprim{
	width: 70%;
	padding: 0 1%;
	box-sizing: border-box;
}
#materiales{
	position: relative;
	width: 30%;
	width: 90px;
	box-sizing: border-box;
	padding: 5px;
	background: #02B3B2;
	box-shadow: 
}
#materiales>div{
	text-align: center;
	margin-bottom: 2px;
}
#materiales>ul>li{
	list-style: none;
	display: inline-block;
	width: 23px;
	height: 23px;
	background: #eee;
	margin: 2px 0;
	color: red;
	text-align: center;
	cursor: pointer;
}
#materiales>#color{
	margin: 10px 0;
	box-sizing: border-box;
	background: blue;
	width: 50%;
	height: 25px;
	position: absolute;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px rgba(255,255,255,.5);
	left: 24px;
	cursor: pointer;
}
#materiales>#color>#col{
	border: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#barraPrincipal>ul>li{
	display: inline-block;
	padding: 10px;
	background: #eee;
	color: #000;
	float: right;
	margin: 5px 2px;
	border-radius: 50%;
	cursor: pointer;
}
.clear{
	clear: both;
}