@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
body, html{
	width: 100%;
	height: 100%;
	color: #eee;
}
body{
	background: rgb(20, 23, 26);
}
canvas{
	background: #eee;
	box-shadow: 0 0 5px 5px rgb(238, 238, 238);
}
#CampoDibujo{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#campoDraw{
	width: 100%;
	max-width: 1400px;
	min-width: 900px;
	min-height: 520px;
	height: 90%;
	padding: 10px;
	margin: auto;
	position: relative;
	box-sizing: border-box;
	padding-top: 0;
	box-shadow: 0 0 2px 2px rgba(238, 238, 238,.5),
		0 0 2px 2px rgba(238, 238, 238,.5) inset;
	border-radius: 5px;
}
#barraHerramientas{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 8%;
	padding: 0 10px;
	min-height: 50px;
}
#barraHerramientas li{
	list-style: none;
	display: inline-block;
	height: 15px;
	width: 15px;
	padding: 5px;
	margin: 8px 0;
	border: 3px solid transparent;
	margin-left: -2px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#barraHerramientas li:hover{
	transform: scale(1.2);
}
#barraHerramientas li#Guardar{
	background: url('../imagenes/logos/guardar.png') 100% 100% / 100% 100% no-repeat;
}
#barraHerramientas li#Nuevo{
	background: url('../imagenes/logos/nuevo.png') 100% 100% / 100% 100% no-repeat;
}
#barraHerramientas li#Reacer{
	background: url('../imagenes/logos/boton_atras.png') 100% 100% / 100% 100% no-repeat;
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
}
#barraHerramientas li#Adelante{
	background: url('../imagenes/logos/boton_adelante.png') 100% 100% / 100% 100% no-repeat;
	background-color: rgb(238, 238, 238);
	border-radius: 50%;
}
#materiales, #canvasImprim{
	float: left;
}
#canvasImprim{
	width: 70%;
	padding: 0 1%;
	box-sizing: border-box;
	position: relative;
}
#materiales{
	position: relative;
	width: 30%;
	width: 90px;
	box-sizing: border-box;
	padding: 5px;
	background: #000;
	box-shadow: 0 0 3px 3px rgba(255,255,255,.5),
		0 0 3px 3px rgba(255,255,255,.5) inset;
	border-radius: 5px;
}
#materiales>div{
	text-align: center;
	margin-bottom: 2px;
}
#materiales>ul>li{
	list-style: none;
	display: inline-block;
	width: 23px;
	height: 23px;
	margin: 2px 0;
	color: red;
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
#materiales>ul>li:hover{
	transform: scale(1.3);
}
#materiales>ul>li#Cursor{
	background: url('../imagenes/logos/cursor.png') 100% 100% / 100% 100% no-repeat;
	border-radius: 50%;
}
#materiales>ul>li#Lapiz{
	background: url('../imagenes/logos/lapiz.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>ul>li#Texto{
	border-radius: 50%;
	background: #eee
}
#materiales>ul>li#Texto:after{
	content: 'A';
	position: absolute;
	left: 0;
	width: 100%;
	color: #000;
	font-weight: bold;
	font-family: arial;
	top: 2px;
}
#materiales>ul>li#Circulo{
	border-radius: 50%;
}
#materiales>ul>li#Circulo:after{
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	border-radius: 50%;
	border: 3px solid #eee;
	box-sizing: border-box;
}
#materiales>ul>li#Cuadrado{
	border-radius: 5px;
}
#materiales>ul>li#Cuadrado:after{
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	border-radius: 5px;
	border: 3px solid #eee;
	box-sizing: border-box;
}
#materiales>ul>li#eracer{
	background: url('../imagenes/logos/eraser.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>ul>li#Bezier{
	background: url('../imagenes/logos/curva.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>ul>li#Imagen{
	background: url('../imagenes/logos/image.png') 100% 100% / 100% 100% no-repeat;
}
#materiales>#herramientasDis{
	margin: 10px 0;
	box-sizing: border-box;
	background: #eee;
	width: 100%;
	position: absolute;
	overflow: hidden;
	border-radius: 5px;
	left: 0;
	cursor: pointer;
	padding: 10px 0;
}
#materiales>#herramientasDis>#color{
	width: 80%;
	height: 30px;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
}
#materiales>#herramientasDis>#color>#col{
	border: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#materiales>#herramientasDis>#tamanio{
	width: 80%;
	position: relative;
	margin: auto;
	padding: 15px 0;
	padding-bottom: 0;
}
#materiales>#herramientasDis>#tamanio>#tamVal{
	width: 100%;
	cursor: pointer;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
}
#barraPrincipal>ul>li{
	display: inline-block;
	background: #eee;
	width: 40px;
	height: 40px;
	color: #000;
	float: right;
	margin: 5px 2px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	box-shadow: 0 0 5px rgba(0,255,255,1);
	z-index: 8;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

#barraPrincipal>ul>li:hover{
	transform: scale(1.2);
	box-shadow: 0 0 3px 3px rgba(0,255,255,1),
		0 0 3px 3px rgba(0,255,255,1) inset;
	z-index: 9;
}
#barraPrincipal>ul>li#logeo{
	background: url('../imagenes/logos/login.png') 100% 100% / 100% 100% no-repeat;
	margin-right: 10px;
}
#barraPrincipal>ul>li#img{
	background: url('../imagenes/logos/user1.png') 100% 100% / 100% 100% no-repeat rgb(238, 238, 238);
}
#barraPrincipal>ul>li#nuevoU{
	background: url('../imagenes/logos/user1.png') 100% 100% / 100% 100% no-repeat rgb(238, 238, 238);
}
#barraPrincipal>ul>li#nuevoU:after{
	content: '+';
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	font-family: arial;
	left: 20px;
	bottom: -10px;
	color: #eee;
	text-shadow: 0 0 5px #000;
}
#barraPrincipal>ul>li#cerrarSecion{
	background: url('../imagenes/logos/close_secion.png') 100% 10% / 100% 100% no-repeat rgb(238, 238, 238);
}
#barraPrincipal>ul>li#user{
	width: auto;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 2px;
	font-family: arial;
	font-weight: bold;
	line-height: 2.4;
	background: transparent;
	color: #eee;
	text-shadow: 0 0 5px rgba(0,255,255,1);
	pointer-events: none;
	box-shadow: 0 0 5px transparent;
}
#eracerFun{
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 10px;
	left: 20px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.4);
	pointer-events: none;
}
.clear{
	clear: both;
}